<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index/font_614024_0t6dyuun1urf6r.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>
        华衍导航
    </title>
    <link rel="stylesheet" href="index/index.css">
</head>
<body>
<form name="form1" method="post"
      action="https://i.yonyou.com/website/index.aspx?code=9cd296a7610bf3dff7971ddf427eb5db069810799235fbc4396ba925170f&amp;groupname=%u6ee1%u5766%u5766%u7a7a%u95f4&amp;appId=142945&amp;qzId=111065&amp;YYW=1&amp;YYW=1"
      id="form1">
    <div id="fs-pc" class="fs-pc">
        <p class="tip">
            <img src="./index/lock1.png" width="8px" alt=""> 外网需vpn访问
        </p>
        <ul class="list" id="J_fs_list">

        </ul>
    </div>
    <script>
        var userid = "[[${userid}]]";

        console.log("test：",userid);

        // 列表数据
        var lists = [{
            title: 'HR自助',
            subLists: [
                {
                    name: '我的档案',
                    img: '热线电话',
                    url: 'http://192.168.0.61:8001/portal/app/AppPsninfo?nodecode=E20200101&AuthKey=ec' + '&userid=' + userid,
                    hasLock: true
                },
                {
                    name: '转正申请',
                    img: '我的消费',
                    url: 'http://ufpark/idcard/consume.aspx?keyid=3',
                    hasLock: true
                },
                {
                    name: '我的设备',
                    img: '我的设备',
                    url: 'http://ufpark:407/Web/MyRecord/MyAssetList.aspx',
                    hasLock: true
                },
                {
                    name: '我的工资',
                    img: '我的工资',
                    url: 'http://192.168.8.113/gongzi/login.asp',
                    hasLock: true
                },
                {
                    name: '用友云盘',
                    img: '用友云盘',
                    url: 'http://pan.yonyou.com',
                    hasLock: false
                },
                {
                    name: '用友品牌共享平台',
                    img: '用友品牌共享平台',
                    url: 'http://brand.yonyou.com/',
                    hasLock: false
                },
                {
                    name: '管理入口',
                    img: '管理入口',
                    url: 'http://ufpark/manage/',
                    hasLock: false
                }
            ]
        },
            {
                title: '网上审批',
                subLists: [
                    {
                        name: '用友财务共享中心',
                        img: '用友财务共享中心',
                        url: 'http://192.168.210.120/portal/',
                        hasLock: true
                    },
                    {
                        name: 'eHR绩效考核',
                        img: 'ehr绩效系统',
                        url: 'http://192.168.210.215/hrss/login.jsp',
                        hasLock: true
                    },
                    {
                        name: '在线审批系统',
                        img: '在线审批系统',
                        url: 'http://uflive.yonyou.com/shenpi/Public.aspx',
                        hasLock: true
                    },
                    {
                        name: '发文会签系统',
                        img: '发文会签',
                        url: 'http://uflive.yonyou.com/fawen/Default.aspx',
                        hasLock: true
                    },
                    {
                        name: '设备申请',
                        img: '设备申请',
                        url: 'http://ufpark:407/public.aspx',
                        hasLock: true
                    },
                    {
                        name: '信息发布',
                        img: '信息发布',
                        url: 'http://uflive.yonyou.com/shenpi/Web/Apply/ApplyForm.aspx?PK_Form=1403101049000f9e73ba&PK_Flow=140310112051bd982dd8',
                        hasLock: true
                    },
                    {
                        name: '',
                        img: '',
                        url: '',
                        hasLock: false
                    }
                ]
            },
            {
                title: '园区预定',
                subLists: [{
                    name: '访客预约登记',
                    img: '访客预约登记',
                    url: 'https://ys.yyuap.com/approve-app/static/index.html#form?source=YB&formType=NEW&share=true&templateid=26870dfc-f3f3-4109-bab7-3ac4ee845d33&tenantId=ehecm8x1',
                    hasLock: false
                },
                    {
                        name: '多媒体会议指南',
                        img: '大会指南',
                        url: 'http://h.yonyou.com/meeting/index.html',
                        hasLock: false
                    },
                    {
                        name: '领用办公用品',
                        img: '领取办公用品',
                        url: 'http://ufpark/App/office/officelist.aspx?keyid=1&OrderPk=',
                        hasLock: true
                    },
                    {
                        name: '预定多媒体会议',
                        img: '预定多媒体会议',
                        url: 'http://ufpark/App/virtualmeeting/meetinglist.aspx?keyid=1',
                        hasLock: true
                    },
                    {
                        name: '预定商务车',
                        img: '预定商务车',
                        url: 'http://ufpark/App/car/cardestine.aspx?keyid=1',
                        hasLock: true
                    },
                    {
                        name: '预定宿舍',
                        img: '预定宿舍',
                        url: 'http://ufpark/app/BedRoom/Default.aspx',
                        hasLock: true
                    },
                    {
                        name: '',
                        img: '',
                        url: '',
                        hasLock: false
                    }
                ]
            },
            {
                title: '集团应用',
                subLists: [{
                    name: '在线case系统',
                    img: '在线case系统',
                    url: 'http://itservice.yonyou.com',
                    hasLock: false
                },
                    {
                        name: '采购招投标管理系统',
                        img: '采购指标管理系统',
                        url: 'http://buy.yonyou.com/',
                        hasLock: false
                    },
                    {
                        name: '用友开发者社区',
                        img: '开发者社区',
                        url: 'http://udn.yonyou.com/portal.php',
                        hasLock: false
                    },
                    {
                        name: '企业文化',
                        img: '企业文化',
                        url: 'http://ufpark/newfile/qiyewenhua/',
                        hasLock: true
                    },
                    {
                        name: '采购会签审批',
                        img: '采购会签审批',
                        url: 'http://uflive.yonyou.com/shenpi/Web/Business/ContractApply2.aspx',
                        hasLock: true
                    },
                    {
                        name: '合同会签审批',
                        img: '合同会签审批',
                        url: 'http://uflive.yonyou.com/shenpi/Web/Business/ContractApply.aspx',
                        hasLock: true
                    },
                    {
                        name: '远程桌面接入申请',
                        img: '远程桌面接入申请',
                        url: 'http://uflive.yonyou.com/shenpi/Web/Apply/ApplyForm.aspx?PK_Form=120224132305a9a6dd05*PK_Flow=1202241618203e1a3e16',
                        hasLock: true
                    },
                    {
                        name: '虚拟机资源申请',
                        img: '虚拟机资源申请',
                        url: 'http://uflive.yonyou.com/shenpi/Web/Apply/ApplyForm.aspx?PK_Form=100630121210a8dffb31*PK_Flow=10063012113735e94aca',
                        hasLock: true
                    },
                    {
                        name: '伙伴管理系统',
                        img: '伙伴管理系统',
                        url: 'http://partner.yonyou.com/login.aspx',
                        hasLock: false
                    },
                    {
                        name: '专业顾问学院',
                        img: '专业顾问学院',
                        url: 'http://yytals.yonyou.com/',
                        hasLock: false
                    },
                    {
                        name: '顾问资格认证',
                        img: '顾问资格认证',
                        url: 'http://yyCbas.yonyou.com',
                        hasLock: false
                    },
                    {
                        name: '工时管理系统',
                        img: '工时管理系统',
                        url: 'http://gongshi.yonyou.com/',
                        hasLock: false
                    },
                    {
                        name: '厂商支持服务',
                        img: '厂商支持服务',
                        url: 'http://ysupport.yonyou.com',
                        hasLock: false
                    },
                    {
                        name: '销售管理系统',
                        img: '销售管理系统',
                        url: 'https://sale.yonyou.com',
                        hasLock: false
                    },
                    {
                        name: '商务生产',
                        img: '商务生产',
                        url: 'http://192.168.8.184/Goods20/',
                        hasLock: true
                    },
                    {
                        name: '绩效考核系统',
                        img: '绩效考核系统',
                        url: 'http://nfi.yonyou.com/',
                        hasLock: true
                    },
                    {
                        name: '企管大厅',
                        img: '企管大厅',
                        url: 'http://jtqg.yonyou.com',
                        hasLock: true
                    },
                    {
                        name: '年报系统',
                        img: '年报系统',
                        url: 'http://192.168.8.120:8080/it_report/',
                        hasLock: true
                    }, {
                        name: '第三方产品采购管理系统',
                        img: '第三方产品采购管理系统',
                        url: 'http://192.168.8.78:8080',
                        hasLock: true
                    },
                    {
                        name: 'VPN证书申请',
                        img: 'vpn',
                        url: 'http://myvpn.yonyou.com',
                        hasLock: false
                    }, {
                        name: '用友内控建设',
                        img: '用友内控建设',
                        url: 'http://ufpark/topic/20100525neikong/',
                        hasLock: true
                    }
                ]
            }
        ];

        var oUl = document.querySelector('#J_fs_list');
        var ulHtml = '';

        // 循环每一项
        lists.forEach(function (item) {

            var liHtml = '';
            liHtml += '<li class="list-item"><h6 class="title"><span>' + item.title +
                '</span></h6><div class="list-wrapper">';

            var subLists = item.subLists;

            // 循环子项
            subLists.forEach(function (subItem) {
                var subStr = '';
                var aStr = subItem.hasLock ?
                    '<a href="' + (subItem.url || 'javascript:;') + '" target="_blank" class="has-lock">' :
                    '<a href="' + (subItem.url || 'javascript:;') + '" target="_blank">';
                if (subItem.img !== '') {
                    subStr += aStr + '<img src="index/' + subItem.img + '.png" width="25px">' +
                        '<p class="txt">' + subItem.name + '</p>' +
                        '</a >';
                } else {
                    subStr += aStr + '</a >';
                }
                liHtml += subStr;
            })

            liHtml += '</div></li>';
            ulHtml += liHtml;
            oUl.innerHTML = ulHtml;
        })
    </script>
</form>


</body>
</html>